# base requirements:
django==1.5.4
django-forms-bootstrap
gunicorn
South
pbdeploy
python-memcached
django-taggit
django_compressor
yara
yara-tool
-e git://github.com/MITRECND/yaraprocessor.git#egg=yaraprocessor
python-social-auth
